# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Sensitive configuration files
config.py


# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS files
.DS_Store

# GitHub API key file
github_api_key.json  # or specify the actual file name containing the API key
*.key
*.pem

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Cache files
*.cache
*.log
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyInstaller
*.manifest
*.spec

# Pytest
.pytest_cache/

# Flask files
instance/
.webassets-cache

# Mypy
.mypy_cache/

# Environments and IDEs
.idea/
.vscode/
.venv/
*.env

# Logs
*.log

